<h1> Create a Tier List | Add Items </h1>

<form action="/post_2" method="post">
    <div>
      <label for="name_field">Tier List Name</label>
      <input id="name_field" type="text" name="the_name">
    </div>

</form>
