<h1> Create a Tier List | Add Item Categories </h1>



<form action="/create_field" method="post">

    <div>
      <label for="name_field">Tier List Name</label>
      <input id="name_field" type="text" name="the_name">
    </div>

  <h4> Columns already included for each item </h4>

    <ul>
      <li> Item name </li>
      <li> Item description </li>

    </ul>

    <h4> Add additional fields for each item </h4>

    <div>
      <fieldset>
        <legend> <h3>Field 1</h3></legend>
          <div>
            <input id="field_1" type="text" name="field1_name" placeholder = "Enter name">
            <select name="field1_datatype">
                    <option value="" selected disabled>Select Data Type</option>
                    <option value="Text">Text</option>
                    <option value="Integer">Integer</option>
                    <option value="Decimal">Decimal</option>
                    <option value="Date">Date</option>                  
                </select>

          </div>
    </div>

    <div>
      <fieldset>
        <legend> <h3>Field 2</h3></legend>
          <div>
            <input id="field_2" type="text" name="field2_name" placeholder = "Enter name">
            <select name="field2_datatype">
                    <option value="" selected disabled>Select Data Type</option>
                    <option value="Text">Text</option>
                    <option value="Integer">Integer</option>
                    <option value="Decimal">Decimal</option>
                    <option value="Date">Date</option>                  
                </select>

          </div>
    </div>

    <div>
      <fieldset>
        <legend> <h3>Field 3</h3></legend>
          <div>
            <input id="field_3" type="text" name="field3_name" placeholder = "Enter name">
            <select name="field3_datatype">
                    <option value="" selected disabled>Select Data Type</option>
                    <option value="Text">Text</option>
                    <option value="Integer">Integer</option>
                    <option value="Decimal">Decimal</option>
                    <option value="Date">Date</option>                  
                </select>

          </div>
    </div>

    <div>
      <fieldset>
        <legend> <h3>Field 4</h3></legend>
          <div>
            <input id="field_4" type="text" name="field4_name" placeholder = "Enter name">
            <select name="field4_datatype">
                    <option value="" selected disabled>Select Data Type</option>
                    <option value="Text">Text</option>
                    <option value="Integer">Integer</option>
                    <option value="Decimal">Decimal</option>
                    <option value="Date">Date</option>                  
                </select>

          </div>
    </div>

    <div>
      <fieldset>
        <legend> <h3>Field 5</h3></legend>
          <div>
            <input id="field_5" type="text" name="field5_name" placeholder = "Enter name">
            <select name="field5_datatype">
                    <option value="" selected disabled>Select Data Type</option>
                    <option value="Text">Text</option>
                    <option value="Integer">Integer</option>
                    <option value="Decimal">Decimal</option>
                    <option value="Date">Date</option>                  
                </select>

          </div>
    </div>

    <button type=submit>Submit</button>

    




</form>
