<!-- _item_card.html.erb -->
<% if current_item %>
  <div class="item-card">
    <div class="item-card-content">
      <h3><%= current_item.name %></h3>
      <p><%= current_item.description || "No description available" %></p>
      <img src="path/to/image.jpg" alt="Item image" style="width: 100%;">
    </div>
  </div>

  <!-- Navigation buttons -->
  <div class="navigation">
    <% if previous_item_id %>
      <%= link_to "Previous Item", rank_items_path(current_item_id: previous_item_id), class: "btn" %>
    <% end %>
    <% if next_item_id %>
      <%= link_to "Next Item", rank_items_path(current_item_id: next_item_id), class: "btn" %>
    <% end %>
  </div>
<% else %>
  <p>No items to rank.</p>
<% end %>
