<!-- _item_card_display.html.erb -->



<div class="item-card-display" id="item-card-template" onclick="showPopup()">
  <div class="item-card-content">
    <!-- Text Content -->
    <div class="item-text">
      <h3 class="item-name"><%= @current_item&.name || "Item name" %></h3>
      <p class="item-description"><%= @current_item&.description || "Subtitle placeholder text" %></p>
    </div>

    <!-- Image Content -->
    <div class="item-image">
      <% if @current_item&.image&.attached? %>
        <%= image_tag @current_item.image, alt: "#{@current_item.name} image" %>
      <% else %>
        <%= image_tag "placeholder.jpg", alt: "Placeholder image" %>
      <% end %>
    </div>
  </div>
</div>
